.bg {
  background-image: url("../src/img/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  @media only screen and (max-width:1024px){
    .bg{
      width:200vw;
    }
  }