.bg {
  background-image: url("../src/img/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  @media only screen and (max-width:1024px){
    .bg{
      width:200vw;
    }
    .full_bg{
      width:200vw;
    }
  }
  .full_bg{
    background: rgb(120,23,198);
    background: linear-gradient(321deg, rgba(120,23,198,1) 29%, rgba(2,0,36,1) 100%);
    
  }